<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Admin Password</title>
    <link href="../../static/adminStyle.css" rel="stylesheet" media="all" type="text/css">
</head>
<body>
<form action="/pizza2nice/helloAdmin" method="post">
    <div class="flex-container">

        <div class="flex-items">
            <label for="newPassword">New Password :</label>
            <input type="text" id="newPassword" name="newPassword"  onkeyup='check();' ><br><br>
        </div>
        <div class="flex-items">
            <label for="newPasswordConf">Confirm New Password :</label>
            <input type="text" id="newPasswordConf" name="newPasswordConf"  onkeyup='check();' ><span id="message"> </span><br><br>
        </div>


        <div class="flex-items"><input id="submit" type="submit" value="Update Password" style="height:2em; width:5em"></div>
    </div>
</form>
<script>
    var check = function() {
        if (document.getElementById('newPassword').value ==
            document.getElementById('newPasswordConf').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = '    V';
            document.getElementById('submit').disabled = false;
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = '    X';
            document.getElementById('submit').disabled = true;
        }
    }
</script>
</body>
</html>